@font-face {
    font-family: Montserrat-Regular;
    src: url('/app-assets/font/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('/app-assets/font/montserrat/Montserrat-ExtraBold.ttf'); 
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('/app-assets/font/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('/app-assets/font/montserrat/Montserrat-SemiBold.ttf'); 
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
    background: #EEF4F6;
}
a {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
    color: #fff;
}

p {
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

#wrap-banner {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

/* TOP */
.text-title {
    font-family: Montserrat-ExtraBold;
	font-size: 14px;
	line-height: 1.7;
	color: #ffffff;
	margin: 0px;
}

.banner{
    background: url("/app-assets/img/cropped-logo_wijaya-300x53.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    width: 100%;
    min-height: 25vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
    z-index: 1;
}

.banner::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #484848;
    background: -webkit-linear-gradient(#484848);
    background: -o-linear-gradient(#484848);
    background: -moz-linear-gradient(#484848);
    background: linear-gradient(#484848);
    opacity: 57%;
}

.text-kategori {
    font-family: Montserrat-SemiBold;
	font-size: 12px;
	color: #000000;
	margin: 0px;
    line-height: 1.5;
}

.card {
    border: 0px !important;
    height: 100%;
}

.text-footer {
    font-family: Montserrat-SemiBold;
	font-size: 10px;
	color: #000000;
	margin: 0px;
    line-height: 1.5;
}

.ms-n5 {
    margin-left: -40px;
}

.card-wlp {
    border: none;
    border-radius: 0px;
}

.title-materi {
    font-family: Montserrat-SemiBold;
    font-size: 16px;
	color: #000000;
}

.desc-materi {
    font-family: Montserrat-Regular;
    font-size: 14px;
	text-align: justify;
    color: #000000;
}

#elementToMove{
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}

/* READ MATERI */
#slides{  

    position:relative;
    overflow:hidden;
    /* margin:0 auto; */
    width:100%;
    /* height:auto; */
    white-space:nowrap;
    /* background-color: red; */

}
#slides div{

    position:relative;
    display:inline-block;
    margin-right:-4px;
    white-space:normal;
    vertical-align:top;
    *display:inline;
    width:100%;
    /* height:auto; */

}


.text-materi {
    font-size: 10px;
    word-wrap: break-word;
}